<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
 
  <connectionStrings>
    <add name="Auth" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Projects\ASP.NET\Role Management System\Role Management System\App_Data\Authenticate.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Management" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Projects\ASP.NET\Role Management System\Role Management System\App_Data\ManagementSystem.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="1440"/>
      <!-- Time out in minutes 1440 mins = 1 day -->
    </authentication>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Error/NotFound"/>
    </customErrors>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
