@model Role_Management_System.Models.Employee
@{
    ViewBag.Title = "Delete";
}

@*<h2>Delete</h2>

<form method="post">
    <div class="alert alert-danger">
        You sure you want to delete this <b>Employee</b>
    </div>
    <button class="btn btn-primary">Yes</button>
</form>*@

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <h2>Delete</h2>
        <form method="post">
            <div class="alert alert-danger">
                You sure you want to delete this <b>Employee</b>
            </div>
            <button class="btn btn-primary">Yes</button>
        </form>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>


