@model Role_Management_System.Models.Employee
@{
    ViewBag.Title = "Update";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <h2>Update Employee</h2>
        <form method="post" style="width:300px">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" value="@Model.Name" name="Name" type="text" required placeholder="Enter Employee Name" />
            </div>
            <div class="form-group">
                <label>Department</label>
                <input class="form-control" value="@Model.Department" name="Department" type="text" required placeholder="Enter Department Name" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" value="@Model.Email" name="Email" type="email" required placeholder="Provide Employee Email" />
            </div>
            <div class="form-group">
                <label>Salary</label>
                <input class="form-control" value="@Model.Salary" name="Salary" type="text" required placeholder="Enter Salary Details" />
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>


